.modal_body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0%;
}

.modal_create_board {
    width: 34.11vw;
    height: 30.49vh;
    padding: 1.96vh 1.04vw 1.96vh 1.3vw; 
    max-height: 420px;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.modal_create_header {
    display: flex;
    flex-direction: row;
    width: 34.1145vw;
    height: 6.9813vh;
    /* margin: 1.96656vh 1.0416vw 0 1.30208vw; */
    /* margin: 1.96656vh 0 0 0; */
    /* justify-content: center; */
    align-items: flex-start;
}

.modal_title {
    /* font-size: 36px; */
    font-size: 1.875vw;
    font-weight: 300;
    flex-grow: 1;
}

.modal_svg {
    cursor: pointer;
}

.modal_create_separator {
    /* width: 92.857%; */
    width: 100%;
    border: none;
    height: 1px;
    background-color: #6C6C6C;
    margin: 0 auto 1.96656vh;
}

.modal_name {
    /* font-size: 32px; */
    font-size: 1.666vw;
    font-weight: 300;
    margin-left: 4.1%;
}

.modal_create_input {
    height: 5.8997vh;
    width: 29.6875vw;
    padding: 0 0.78125vw;
    border: 1px solid #6C6C6C;
    background-color: transparent;
    /* border-radius: 3px; */
    border-radius: 0.15625vw;
    /* margin: 1.4749vh 0 2.9498vh 2.60416vw; */
    margin: 1.4749vh 0 2.9498vh 0;
    outline: none;
    /* font-size: 32px; */
    font-size: 1.666vw;
    font-weight: 300;
    align-self: center;
}

.modal_create_submit {
    width: 33.3%;
    height: 5vh;
    background-color: #0057FF;
    border: none;
    border-radius: 0.15625vw;
    color: white;
    font-size: 1.666vw;
    font-weight: 300;
    align-self: center;
    /* margin-top: 20px; */
}

.error_modal {
    /* font-size: 20px; */
    font-size: 1.0416vw;
    font-weight: 400;
    margin: 10px auto 0;
    color: red;
}