.friends {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 2.94vh 2.6vw;
    gap: 4.91vh 2.34375vw;
    align-content: flex-start;
    flex-wrap: wrap;
}

.friends_header {
    width: 89.5%;
    height: 8.44%;
    background-color: #EDEDED;
    border-radius: 0.3125vw;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend_header_title {
    font-size: 1.66vw;
}

.vertical_rule {
    border: none;
    width: 1px;
    color: #C5C5C5;
    background-color: #C5C5C5;
    height: 75%;
}

.friend_header_name {
    margin: 0 27.5% 0 2%;
}

.friend_header_email {
    margin: 0 41.3% 0 2%;
}

.friend_header_status {
    margin: 0 0 0 2%;
}

.friend_search {
    width: 14.79vw;
    height: 4.9vh;
    padding: 0 0.41vw;
    background-color: transparent;
    border: 1px solid #6C6C6C;
    border-radius: 0.2vw;
    margin-left: 1.04vw;
    margin-top: 1.96vh;
    font-size: 1.25vw;
}

.friend {
    width: 25.5vw;
    height: 9.1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #4F4F4F;
    border-radius: 0.26vw;
    transition: all 0.3s;
}

.friend:hover {
    background-color: #E9E9E9;
    transition: all 0.3s;
}

.friend_body {
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.friend_name_body {
    font-size: 1.875vw;
}

.friend_body_email {
    font-size: 1.66vw;
    width: 49%;
}

.friend_status_body {
    font-size: 1.25vw;
    color: green;
}

.friend_name {
    margin-left: 1.0416vw;
}

.friend_email {
    margin-left: 1.0416vw;
}

.friend_status {
    width: fit-content;
    margin-left: 6.8%;
    background-color: transparent;
    border: 1px solid #9C9C9C;
    border-radius: 0.15625vw;
    display: flex;
    align-items: center;
}

.status_title {
    width: fit-content;
    margin-right: 8px;
    font-size: 1.66vw;
    color: #9C9C9C;
    user-select: none;
}

.friend_avatar {
    width: 3.125vw;
    height: 3.125vw;
    border-radius: 50%;
    background: linear-gradient(#05E15D, #A2EEC0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    user-select: none;
    margin-left: 0.78125vw;
    margin-right: 0.52vw;
    /* margin-left: 0.78125%; */
}

.friend_separator {
    border: none;
    width: 72.916vw;
    background-color: black;
    height: 1px;
}

.svg_50 {
    width: 2.60416vw;
    height: 2.60416vw;
}