#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page {
    flex: 1;
    background-color: #F5F5F5;
    overflow-x: auto;
    overflow-y: auto;
}

.wrapper {
    width: 100%;
    display: flex;
    flex: 1;
    overflow: hidden;
}