.team-context-menu {
    visibility: hidden;
    opacity: 0;
    background-color: white;
    position: fixed;
    z-index: 5;
    width: 8.124994vw;
    padding: 0.68829vh 0.364583vw;
    height: fit-content;
    max-height: 150px;
    box-shadow: 1px 1px 6px 0 black;
    display: flex;
    flex-direction: column;
    border-radius: 0.15625vw;
    gap: 0.85vh;
}

.team-context-menu.active {
    visibility: visible;
    opacity: 1;
}

.team-context-menu-btn {
    width: 100%;
    /* height: 25%; */
    height: 25px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9375vw;
    gap: 0.5729166vw;
}

.team-context-menu-btn svg {
    width: 1.25vw;
    height: 1.25vw;

}

.black {
    color: black;
}

.red {
    color: #FF2E2E;
}

.blue {
    color: #0057FF;
}