.header {
    background-color: #fff;
    width: 100%;
    height: 6.88vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.search {
    height: 71.4%;
    width: 14.22%;
    padding: 0 0.36% 0 0.52%;
    background-color: transparent;
    border: solid 1px #DBDBDB;
    border-radius: 0.26041vw;
    margin-left: 17.7%;
    outline: none;
    font-size: 1.3541vw;
    font-weight: 300;
    display: flex;
    background-image: url('../../assets/header/search.svg');
    background-position: right;
    background-repeat: no-repeat;  
    background-size: 2.2916vw;
}

/* .header_settings_link {
    width: 2.60416vw;
    height: 2.60416vw;
    border-radius: 50%;
    margin-right: 0.52083vw;
    margin: 0 0.52083vw 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    font-size: 1.875vw;
    font-weight: 300;
    user-select: none;
    color: black;
    text-decoration: none;
} */