.board_body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 6.882989vh 3.64583vw;
    gap: 3.64583vw;
}

.board_body_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 6.882989vh 3.64583vw;
    gap: 4.9164vh;
}

.block {
    width: 18.75vw;
    min-width: 18.75vw;
    height: fit-content;
    max-height: 82.5958vh;
    background-color: transparent;
}

.block_list {
    width: fit-content;
    min-width: 20.833vw;
    height: fit-content;
    background-color: transparent;
}

.block_header {
    width: 91.111146%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    font-size: 1.25vw;
    align-items: center;
    padding: 0 0.52083vw 0 1.14583vw;
}


.block_header_list {
    width: 20.833vw;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    font-size: 1.666vw;
    align-items: center;
}

.block_header_p {
    flex-grow: 1;
    text-overflow: ellipsis;
    /* max-width: 60%; */
}

.block_title_input {
    flex-grow: 1;
    max-width: 63%;
    padding: 0 0.4vw;
    border-radius: 0.15625vw;
    font-size: 1.0416vw;
    font-weight: 300;
    border: none;
    outline: none;
}

.add_task {
    margin-right: 0.260416vw;
}

.block hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: black;
}

.block_list hr {
    width: 20.833vw;
    height: 1px;
    border: none;
    background-color: black;
}

.add_block {
    width: 8.85416vw;
    min-width: 8.85416vw;
    height: 5.899705vh;
    background-color: #F1F1F1;
    border: none;
    border-radius: 0.20833vw;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.0416vw;
    cursor: pointer;
    user-select: none;
}

.add_block_svg {
    margin: 0 0.26041vw;
}

.svg_40 {
    width: 2.08333vw;
    height: 3.933136vh;
}

.task_wrapper {
    width: 100%;
    height: 100%;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.task_wrapper_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.4749vh;
    gap: 0.98328vh;
}

.task {
    width: 94.444%;
    height: 9.8328vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.949852vh;
    background-color: #fff;
    border-radius: 0.260416vw;
    cursor: pointer;
}

.task_list {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    gap: 0.78125vw;
}

.task_list_title {
    font-size: 1.25vw;
}

.task_header {
    width: 94.705884%;
    height: 40%;
    padding: 0 2.647058%;
    margin: 3px 0 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task_header p {
    font-size: 1.25vw;
    flex-grow: 1;
    outline: none;
}

.task_header svg {
    align-self: flex-end;
}

.task hr {
    background-color: #9C9C9C;
    border: none;
    height: 1px;
    width: 88.23529%;
}

.task_time_blue {
    width: fit-content;
    padding: 0 0.520833vw 0 0.26041666vw;
    margin: 0.884955vh 0.46875vw 0 0;
    height: 2.949852vh;
    border-radius: 0.15625vw;
    border: 1px solid #0057FF;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.08161vh 0.46875vw 0 auto;
}

.task_time_blue p {
    font-size: 0.8333vw;
    color: #0057FF;
    margin-left: 0.2vw;
    user-select: none;
}

.task_time_yellow {
    width: fit-content;
    padding: 0 0.520833vw 0 0.26041666vw;
    margin: 0.884955vh 0.46875vw 0 0;
    height: 2.949852vh;
    border-radius: 0.15625vw;
    border: 1px solid #F8D72C;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.08161vh 0.46875vw 0 auto;
}

.task_time_yellow p {
    font-size: 0.8333vw;
    color: #F8D72C;
    margin-left: 0.2vw;
    user-select: none;
}

.task_time_red {
    width: fit-content;
    padding: 0 0.520833vw 0 0.26041666vw;
    margin: 0.884955vh 0.46875vw 0 0;
    height: 2.949852vh;
    border-radius: 0.15625vw;
    border: 1px solid #FF2E2E;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.08161vh 0.46875vw 0 auto;
}

.task_time_red p {
    font-size: 0.8333vw;
    color: #FF2E2E;
    margin-left: 0.2vw;
    user-select: none;
}

.task_time_blue_list {
    width: fit-content;
    padding: 0 0.520833vw 0 0.26041666vw;
    height: 2.949852vh;
    border-radius: 0.15625vw;
    border: 1px solid #0057FF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task_time_blue_list p {
    font-size: 0.8333vw;
    color: #0057FF;
    margin-left: 0.2vw;
}

.task_time_yellow_list {
    width: fit-content;
    padding: 0 0.520833vw 0 0.26041666vw;
    height: 2.949852vh;
    border-radius: 0.15625vw;
    border: 1px solid #F8D72C;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task_time_yellow_list p {
    font-size: 0.8333vw;
    color: #F8D72C;
    margin-left: 0.2vw;
}

.task_time_red_list {
    width: fit-content;
    padding: 0 0.520833vw 0 0.26041666vw;
    height: 2.949852vh;
    border-radius: 0.15625vw;
    border: 1px solid #FF2E2E;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task_time_red_list p {
    font-size: 0.8333vw;
    color: #FF2E2E;
    margin-left: 0.2vw;
}

.creator_avatar {
    width: 2.0833vw;
    height: 2.0833vw;
    font-size: 1.510416vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-left: 0.625vw;
    align-self: center;
    user-select: none;
}

.list_creator_avatar {
    width: 2.0833vw;
    height: 2.0833vw;
    font-size: 1.510416vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    align-self: center;
    user-select: none;
}

.task_footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}